@font-face {
    font-family: 'Product Sans Black';
    src: url('../fonts/prouct_sans_black.ttf') format('truetype');
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url('../fonts/product_sans_regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consola.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    margin: 0px 0px 0px 0px;
    height: 100%;
    background-image: url(../images/bg-pattern.png);
    background-color: #ebeae7;
    background-repeat: repeat-x;
}

.page_not_found {
    width: 400px;
    height: 250px;
    background-image: url(../images/4042.png);
    background-size: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.page_not_found_subtittle{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    color: black;
    font-family:'Product Sans Regular';
    margin-top: 20px;
}

.cuerpo {
    min-height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    width: 70%;
    margin: auto;
    height: 100%;
}

a {
    text-decoration: none;
}

div {
    font-family: Product Sans Regular;
}

.menu {
    position: relative;
    transform: translateY(-50%);
    float: right;
    -webkit-transform: translateY(-50%);
    width: 100%;
}

#logo {
    background-image: url(../images/adomi.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 120px;
    height: 48px;
    cursor: pointer;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#selected {
    font-family: Product Sans Black;
}

.itemMenu {
    margin-right: 50px;
    font-family: Product Sans Regular;
    color: white;
    font-size: 20px;
    float: right;
}

.banner {
    width: 70%;
    height: 100%;
    margin: auto;
}

.conatiner_banner {
    width: 100%;
    height: 10%;
    background-color: black;
}

.full_container {
    width: 70%;
    margin: auto;
    height: 100%;
    position: relative;
}

.left_side {
    width: 50%;
    margin: auto;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_side_quarter {
    width: 50%;
    margin: auto;
    float: left;
    height: 100%;
}

.right_side {
    width: 50%;
    margin: auto;
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_side_quarter {
    width: 50%;
    margin: auto;
    float: right;
    height: 100%;
}

#image_phone {
    width: 55%;
    height: 100%;
    background-image: url(../images/phone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.center_text {
    width: 80%;
    font-size: 2em;
    text-align: justify;
    height: 80%;
}

#image_playstore {
    width: 180px;
    height: 55px;;
    margin-top: 5%;
    background-image: url(../images/google-play-badge.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#primera_app {
    height: 43%;
    font-family: Product Sans Black;
    font-size: 2.5em;
}

#QuedateEnCasa{
    font-family: Product Sans Regular;
    font-size: 1em;
}

.footer {
    width: 100%;
    height: 15%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quarter {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_full {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.quarter_center_text{
    font-size: 30px;
    text-align: justify;
    padding: 10%;
}

.infography{
    width: 360px;
    height: 400px;
    float: left;
    margin: 8px;
    background-color: beige;
}

.image_infography{
    width: 60%;
    margin: auto;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}

.card {
    font-family: Product Sans Regular;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.text_diiv_title {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: Product Sans Black;
    text-align: center;
}

.text_diiv_text {
    font-size: 1.5em;
    margin-bottom: 100px;
    font-family: Product Sans;
    text-align: justify;
}

.section {
    width: 70%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 160px;
    text-align: justify;
}

.footer a {
    color: white;
    float: left;
    margin-right: 20px;
    font-size: 1.2em;
}

.footer_menu {
    margin: auto;
    height: 20%;
    text-align: center;
}

.description_card {
    opacity: 0.6;
    font-size: 0.9em;
}

.socialMediaIcons {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.socialMediaPanel {
    margin-top: 20px;
}

.socialMediaIcons:hover{
    filter: none;
    -webkit-filter: grayscale(0);
}

.contact-right {
    height: auto; 
    padding: 5%;
    display: block;
}

.container-contact {
    width: 100%;
}

.ayuda {
    padding: 5%;
    width: 100%;
    min-height: 100%;
}

.link-pregunta {
    color: #207BF6;
    margin-top: 15px;
    font-size: 1.4em;
}

.download-link {
    margin-top: 20px;
    color: #207BF6;
}

.downloads {
    width: 100%;
    text-align: center;
}

.image-downloads {
    height: 74px;
    background-position: center;
}

.title-question {

}

.question {
    margin-top: 50px;
    font-size: 1.5em;
}

.question li {
    font-size: 1em;
    margin-top: 20px;
}

.nota {
    font-size: 1.2em;
    margin-top: 20px;
}

.question a {
    color: #207BF6;
}

.price-space {
    display: block;
}

#precios-campañas {
    width: 70%;
}

.legacy {
    text-align: justify;
    font-size: 1.5em;
    width: 50%;
    margin: auto;
}

/* TEST */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #207BF6;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
/* TEST */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 900px){
    .banner {
        width: 100%;
    }

    #logo {
        top: auto;
        transform: none;
        -webkit-transform: none;
        margin: auto;
        float: none;
    }

    .conatiner_banner {
        padding-top: 14px;
        position: fixed;
        z-index: 1000;
        height: auto;
    }

    #section_image_phone {
        display: none;
    }

    #section_header {
        width: 100%;
       
        margin-top: 10%;
    }

    .full_container { 
        width: 100%;
        height: auto;
        padding-top: 15%;
    }

    #primera_app {
        height: 75%;
        text-align: center;
    }

    #image_playstore {
        width: 100%;
        background-position: center;
        margin-top: 20%;
    }

    .section {
        width: 85%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .text_diiv_text {
        margin-bottom: 0px;
    }

    .image_infography {
        height: 240px;
    }

    #footer_menu {
        display: grid;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    
    .footer{
        height: auto;
        display: inline-block;
        padding-left: 10%;
        padding-bottom: 10%;
    }

    #footer_menu a {
        margin-top: 15px;
    }

    .itemMenu{
        width: 100%;
        padding: 10px;
        margin-top: 0px;
        margin-left: 0px;
        float: left;
        text-align: left;
        color: white;
    }

    .menu{
        display: none;
        width: 100%;
        background-color: black;
        display: none;
        padding-top: 162px;
        z-index: -10;
    }

    #icon{
        float: left;
        display: block;
        position: absolute;
        left: 0px;
        top: 30px;
        left: 20px;
        color: white;
        background-color: transparent;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 9px;
        z-index: 9999;
    }

    .contact-right {
        width: 100%;
        min-height: 100%;
    }
    
    .contact-left {
        display: none;
    }

    .container-contact {
        height: 100%;
    }

    .legacy{
        width: 90%;
    }

    .page_not_found {
        width: 300px;
        height: 170px;
        margin-top: 100px;
    }
}